body{
    margin: 0px;
}
footer {
    background-color: #A99AC6; /* Warna ungu lembut */
    color: black;
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 16px;
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: black;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
